{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center align-items-center">

  <form class="form-horizontal col-md-8 shadow p-3  border" method='POST' 
    enctype="multipart/form-data" style="background-color: #E0E0E0  ;">
    {% csrf_token %}

    <div class="ml-3 mr-3 mb-3">

      <div class="form-group mt-1">
        <div class="col-sm-offset-2">
          <h3 class="lead">
            <font size="7">Post An Ad</font>
          </h3>
          <p class="control-label ml-1">
            <font size="4">Fill in the form to post an Ad.</font>
          </p>
        </div>
      </div>
      <div class="justify-content-center">
        <div class="form-group mt-4 ">
          <label class="lead " for="pwd">
            <font size="4">Venue Title</font>
            {% for message in messages%}
            {% if message.tags == 'venue_title error' %}
            <label class="text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>
          <input type="text" class="form-control" id="email" placeholder="Enter the venue title here." name="post_title"
            minlength="10" maxlength="20">
        </div>


        <div class="form-group mt-4 ">
          <label class="lead " for="pwd">
            <font size="4">Ad Rating</font>
            {% for message in messages%}
            {% if message.tags == 'rating error' %}
            <label class="text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>
          <input type="number" class="form-control" placeholder="Enter ad rating here." name="rating" minlength="1"
            maxlength="2">
        </div>


        <div class="form-group mt-4 ">
          <label class="lead " for="pwd">
            <font size="4">Ad Views</font>
            {% for message in messages%}
            {% if message.tags == 'views error' %}
            <label class="text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>
          <input type="number" class="form-control" placeholder="Enter ad views here." name="views" minlength="1"
            maxlength="4">
        </div>

        <div class="form-group mt-4 ">

          <label class="lead"><input type="checkbox" name="feature"><i class="fas m-1 text-danger fa-medal"></i>
            <font size="3"> Feature</font>
          </label>
        </div>

        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Phone Number</font>
            {% for message in messages%}
            {% if message.tags == 'phone_no error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter your phone number here." name="phone"
            minlength="6" maxlength="12">

        </div>

        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">City</font>
            {% for message in messages%}
            {% if message.tags == 'city error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="text" class="form-control" id="pwd" placeholder="Enter your city name here." name="city"
            minlength="6" maxlength="12">

        </div>

        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Area</font>
            {% for message in messages%}
            {% if message.tags == 'area error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="text" class="form-control" id="pwd" placeholder="Enter your area name here." name="area"
            minlength="6" maxlength="12">

        </div>


        <div class="form-group">
          <label class="lead" for="pwd">
            <font size="4">Street</font>
            {% for message in messages%}
            {% if message.tags == 'street error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="text" class="form-control" id="pwd" placeholder="Enter your street name here." name="street"
            minlength="6" maxlength="12">

        </div>

        <div class="form-group ">
          <label class="lead " for="pwd">
            <font size="4">Images</font>
            {% for message in messages%}
            {% if message.tags == 'image error' %}
            <label class="text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" name="images" multiple class="custom-file-input" id="images">
              <label class="custom-file-label text-truncate" for="images_group"></label>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <label class="lead " for="pwd">
            <font size="4">Description</font>
            {% for message in messages%}
            {% if message.tags == 'description error' %}
            <label class="text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>
          <textarea name="post_description" class="form-control rounded-0" minlength="10" maxlength="50" rows="3"
            placeholder="Describe us your venue."></textarea>

        </div>


        <div class="form-group mt-1">
          <div class="col-sm-offset-2">
            <h3 class="lead">
              <font size="7">Venu Prices</font>
            </h3>
          </div>
        </div>

        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Price Per Guest</font>
            {% for message in messages%}
            {% if message.tags == 'price_per_guest error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter price per guest." name="guest_price"
            minlength="4" maxlength="5">

        </div>

        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Air Conditioning Price</font>
            {% for message in messages%}
            {% if message.tags == 'ac_price error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter air conditioning price." name="ac_price"
            minlength="4" maxlength="5">

        </div>


        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Heater Price</font>
            {% for message in messages%}
            {% if message.tags == 'heater_price error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter heater price." name="heater_price"
            minlength="4" maxlength="5">

        </div>


        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">DJ System Price</font>
            {% for message in messages%}
            {% if message.tags == 'dj_price error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter DJ system price." name="dj_system_price"
            minlength="4" maxlength="5">

        </div>

        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Decoration Price</font>
            {% for message in messages%}
            {% if message.tags == 'decoration_price error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter decoration price."
            name="decoration_price" minlength="4" maxlength="5">

        </div>





        <div class="form-group mt-1">
          <div class="col-sm-offset-2">
            <h3 class="lead">
              <font size="7">Dish Menu</font>
            </h3>
          </div>
        </div>


        <div class="form-group">
          <label class="lead" for="pwd">
            <font size="4">Menu Title</font>
            {% for message in messages%}
            {% if message.tags == 'menu_title error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="text" class="form-control" id="pwd" placeholder="Enter menu title." name="dish_title"
            minlength="6" maxlength="12">

        </div>

        <div class="form-group ">
          <label class="lead " for="pwd">
            <font size="4">Menu Description</font>
            {% for message in messages%}
            {% if message.tags == 'menu_description error' %}
            <label class="text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>
          <textarea name="dish_description" class="form-control rounded-0" minlength="10" maxlength="20" rows="3"
            placeholder="Describe us your venue."></textarea>

        </div>
        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Menu Price</font>
            {% for message in messages%}
            {% if message.tags == 'menu_price error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter menu price." name="price" minlength="4"
            maxlength="5">

        </div>


        <div class="form-group mt-1">
          <div class="col-sm-offset-2">
            <h3 class="lead">
              <font size="7">Details</font>
            </h3>
          </div>
        </div>

        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Sitting Capacity</font>
            {% for message in messages%}
            {% if message.tags == 'sitting_capacity error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter sittinng capacity"
            name="sitting_capacity" minlength="4" maxlength="6">

        </div>


        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Parking Capacity</font>
            {% for message in messages%}
            {% if message.tags == 'parking_capacity error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label>

          <input type="number" class="form-control" id="pwd" placeholder="Enter parking capacity"
            name="parking_capacity" minlength="6" maxlength="12">

        </div>


        <div class="form-group ">
          <label class="lead" for="pwd">
            <font size="4">Choose Category</font>
            {% for message in messages%}
            {% if message.tags == 'category error' %}
            <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
              <font size="2">{{ message }}</font>
            </label>
            {% endif %}
            {% endfor %}
          </label><br>
          <select class="browser-default custom-select rounded-0" name="category" id="id_category" style="width:250px;">
            <option selected disabled>Select A Category</option>

            <option value="Banquet Hall">Banquet Hall</option>

            <option value="Marquee">Marquee</option>

            <option value="Hotel Hall">Hotel Hall</option>

            <option value="Farmhouse">Farmhouse</option>

            <option value="Lawn">Lawn</option>
          </select>

        </div>



        <label class="lead" for="pwd">
          <font size="4">Choose Services</font>
          {% for message in messages%}
          {% if message.tags == 'services error' %}
          <label class="control-label text-danger"><i class="fas fa-exclamation-circle text-danger"></i>
            <font size="2">{{ message }}</font>
          </label>
          {% endif %}
          {% endfor %}
        </label>
        <div class="form-group mt-1 ml-1">

          <div class="d-flex justify-content-center align-items-center pr-5 pl-5 ">

            <div class="row">
              <div class="list-group list-group-flush column p-2 mr-5">

                <label class="lead"><input type="checkbox" name="decoration"><i class="fas m-1 fa-swatchbook"></i>
                  <font size="3"> Decoration</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="wifi"><i class="fas m-1 fa-wifi"></i>
                  <font size="3"> Wi-fi</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="valet_parking"><i class="fas m-1 fa-parking"></i>
                  <font size="3"> Valet Parking</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="outside_catering"><i class="fas m-1 fa-utensils"></i>
                  <font size="3"> Outside Catering</font>
                </label>
              </div>

              <div class="list-group list-group-flush column p-2 ml-5 mr-5">

                <label class="lead"><input type="checkbox" name="heater"><i class="fas m-1 fa-fire-alt"></i>
                  <font size="3"> Heater</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="ac"><i class="fas m-1 fa-fan"></i>
                  <font size="3"> Air Conditioner</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="dj_system"><i class="fas m-1 fa-headphones-alt"></i>
                  <font size="3"> DJ System</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="bridal_room"><i class="fas m-1 fa-person-booth"></i>
                  <font size="3"> Bridal Room</font>
                </label><br>
              </div>

              <div class="list-group list-group-flush column ml-5 p-2">
                <label class="lead"><input type="checkbox" name="generator"><i class="fas m-1 fa-charging-station"></i>
                  <font size="3"> Generator</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="outside_dj"><i class="fas m-1 fa-headphones-alt"></i>
                  <font size="3"> Outside DJ</font>
                </label><br>
                <label class="lead"><input type="checkbox" name="outside_decoration"><i
                    class="fas m-1 fa-swatchbook"></i>
                  <font size="3"> Outside Decoration</font>
                </label>
              </div>
            </div>


          </div>
        </div>





        <div class="form-group mr-1">
          <button type="submit" class="btn btn-primary float-right lead rounded-0 mb-1" style="padding: 6px 40px;">
            <font size="3">Publish</font>
          </button>

        </div>

      </div>
    </div>
  </form>



</div>
{% block footscripts %}
<script>
  $('input[type="file"]').on("change", function () {
    let filenames = [];
    let files = document.getElementById("images").files;
    if (files.length > 1) {
      if (files.length > 4) {
        $('input[type="file"]').val('');
        $('#images').val('');
      } else {
        filenames.push("Uploaded " + files.length + " files");
      }
    } else {
      for (let i in files) {
        if (files.hasOwnProperty(i)) {
          filenames.push(files[i].name);
        }
      }
    }
    $(this)
      .next(".custom-file-label")
      .html(filenames.join(","));
  });
</script>
{% endblock %}
{% endblock %}