{% extends 'base.html' %}
{% block content %}
<!-- 
<br><br><br>

<div class="d-flex justify-content-center align-items-center"  action='' enctype='multipart/form-data' method = 'POST'> {% csrf_token %}
  
  <form class="form-horizontal col-md-6 bg-light" method = 'POST'> {% csrf_token %}

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 mt-4">
              <h3>Add Information</h3>
              <p class="lead">Fill in information about your Venue.</p>
          </div>
        </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Venue Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pwd" placeholder="Enter venue title"  name="post_title" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4" for="pwd">Phone Number</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter your phone number here."  name="phone" required>
      </div>
  </div>

    <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">City</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="pwd" placeholder="Enter your city here."  name="city" required>
            </div>
    </div>
    <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Area</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="pwd" placeholder="Enter your area here."  name="area" required>
            </div>
    </div>

    <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Street</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="pwd" placeholder="Enter your street here."  name="street" required>
            </div>
    </div>
    <div class="form-group">
            <label class="control-label col-sm-4" for="pwd">Images</label>
            <div class="col-sm-10">
                    <div class="input-group">

                            <div class="custom-file">
                              <input id="pic" type="file" name="images" accept="image/*" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01" multiple>
                              <label class="custom-file-label" for="inputGroupFile01"></label>
                            </div>
                          </div>        
            </div> 
    </div>
    
    <div class="form-group">
            <label class="control-label col-md-4" for="pwd">Description</label>
            <div class="col-sm-10">
                <textarea name="post_description" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" ></textarea>

            </div>
    </div>

  </form> 
</div> -->
    <div class="container" style="padding: 3%">
        <div class="row">
            <div class="container">
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}



                    <div class="container" style="background-color:rgb(255, 255, 255); margin-bottom: 50px">
                        <h2 style="padding: 3%">Add Information</h2>
                        <div class="col-md-10" style="padding-left: 20%;padding-bottom:10%">
                            <div class="form-group has-error">
                                <label for="title">Venue Title<span class="require">*</span></label>
                                <input type="text" class="form-control" name="post_title" />
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone No <span class="require">*</span></label>
                                <input type="text" class="form-control" name="phone" />
                            </div>
                            <div class="form-group">
                                <label for="location">City<span class="require">*</span></label>
                                <input type="text" class="form-control" name="city" />
                            </div>
                            <div class="form-group">
                                <label for="location">Area<span class="require">*</span></label>
                                <input type="text" class="form-control" name="area" />
                            </div>
                            <div class="form-group">
                                <label for="location">Sreet<span class="require">*</span></label>
                                <input type="text" class="form-control" name="street" />
                            </div>
                            <div class="form-group">
                                <label for="image">Images<span class="require">*</span></label>
                                <input type="file" class="form-control" id="images" name="images"
                                    onchange="preview_images();" multiple />
                            </div>
                            <div class="form-group" id="image_preview"></div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea rows="5" class="form-control" name="post_description"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="background-color:rgb(255, 255, 255); margin-bottom: 50px">
                        <h2 style="padding: 3%">Venue Price</h2>
                        <div class="col-md-10" style="padding-left: 20%;padding-bottom:10%">
                            <div class="form-group">
                                <label for="Price per guest">Per guest Price<span class="require">*</span></label>
                                <input type="text" class="form-control" name="guest_price" />
                            </div>
                            <div class="form-group">
                                <label for="Air condition">Air condition Price<span class="require">*</span></label>
                                <input type="text" class="form-control" name="ac_price" />
                            </div>
                            <div class="form-group">
                                <label for="title">Heater Price<span class="require">*</span></label>
                                <input type="text" class="form-control" name="heater_price" />
                            </div>
                            <div class="form-group">
                                <label for="title">DJ System Price<span class="require">*</span></label>
                                <input type="text" class="form-control" name="dj_system_price" />
                            </div>
                            <div class="form-group">
                                <label for="title">Decoration Price<span class="require">*</span></label>
                                <input type="text" class="form-control" name="decoration_price" />
                            </div>
                        </div>
                    </div>
                    <div class="container" style="background-color:rgb(255, 255, 255); margin-bottom: 50px">
                        <h2 style="padding: 3%">Dish Menu</h2>
                        <div class="col-md-10" style="padding-left: 20%;padding-bottom:10%">
                            <div class="form-group">
                                <label for="title">Menu Title<span class="require">*</span></label>
                                <input type="text" class="form-control" name="dish_title" />
                            </div>
                            <div class="form-group">
                                <label for="description">Menu Description<span class="require">*</span></label>
                                <input type="text" class="form-control" name="dish_description" />
                            </div>
                            <div class="form-group">
                                <label for="price">Menu Price<span class="require">*</span></label>
                                <input type="text" class="form-control" name="price" />
                            </div>
                        </div>
                    </div>

                    <div class="container" style="background-color:rgb(255, 255, 255); margin-bottom: 50px">
                        <h2 style="padding: 3%">Details</h2>
                        <div class="col-md-10" style="padding-left: 20%;padding-bottom:10%">
                            <div class="form-group">
                                <label for="Sitting Capacity">Sitting Capacity<span class="require">*</span></label>
                                <input type="text" class="form-control" name="sitting_capacity" />
                            </div>
                            <div class="form-group">
                                <label for="Parking Capacity">Parking Capacity<span class="require">*</span></label>
                                <input type="text" class="form-control" name="parking_capacity" />
                            </div>
                            <div class="form-group">
                                <label class="required" for="id_category">Category</label>

                                <select name="category" id="id_category">
                                    <option value="Banquet Hall">Banquet Hall</option>

                                    <option value="Marquee">Marquee</option>

                                    <option value="Hotel Hall">Hotel Hall</option>

                                    <option value="Farmhouse">Farmhouse</option>

                                    <option value="Lawn">Lawn</option>

                                </select>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Decoration"
                                        name="decoration">Decoration
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Wifi" name="wifi">Wi-fi
                                </label>
                            </div>

                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="valet parking"
                                        name="valet_parking">valet parking
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Heater" name="heater">Heater
                                </label>
                            </div>
                            <div class="fom-check"></div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Air Condition" name="ac">Air Condition
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="DJ System" name="dj_system">DJ
                                    System
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Bridal Room"
                                        name="bridal_room">Bridal Room
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Generator"
                                        name="generator">Generator
                                </label>
                            </div>
                            <div class="fom-check"></div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Outside DJ"
                                        name="outside_dj">Outside DJ
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Outside Decoration"
                                        name="outside_decoration">Outside
                                    Decoration
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Outside Catering"
                                        name="outside_catering">Outside
                                    Catering
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                            {% csrf_token %}
                        <button type="submit" class="btn btn-primary">
                            Add
                        </button>
                        <button class="btn btn-default">
                            Cancel
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>
{% endblock %}