</html>
<!doctype html>
<html lang="en">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/aab5290cf7.js" crossorigin="anonymous"></script> 
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <title>Festive Circle</title>
    {% block scripts %}
    {% endblock %}
  </head>

  <body >
    <div class="col-xs-12">
 
        <nav class="navbar navbar-dark py-0 navbar-expand-lg py-md-0 justify-content-end" style="background-color: #1B2631 ;">
            {% if user.is_authenticated %}  
            <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item py-0"><a class="nav-link" ><font size="2" >Welcome {{ user.name }}</font></a></li>
                </ul>
            </div>
            {% else %}
            <div class="navbar-collapse collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item py-0"><a class="nav-link" href="{% url 'login' %}"><font size="2" >Login</font></a></li>
                    <li class="nav-item py-0"><a class="nav-link" href="{% url 'register' %}"><font size="2" >Register</font></a></li>
                </ul>
            </div>
            {% endif %}

        </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <img src="/media/icons/ball.png" class="card-img-top " style="width:45px;height:45px;">
      <a class="lead navbar-brand ml-3" href="{% url 'home' %}"><font size="6" >Festive Circle</font></a>

      <div class="collapse navbar-collapse " >
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <!-- {% if  user.socialaccount_set.all.0.uid == None %}
          <li class="nav-item active">
            <a class="nav-link lead" >Welcome {{ user.name }}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="lead nav-link" >Welcome {{ user.socialaccount_set.all.0.extra_data.name }}</a>
          </li>
          {% endif %} -->
          {% endif %}
          <li class="nav-item">
            <a class="lead nav-link mr-1" href="{% url 'home' %}"><i class="fas fa-home"></i> Home </a>
          </li>
          <li class="nav-item mt-1 mb-1 active">
              <a class=" nav-link btn btn-danger" href="{% url 'home' %}"><i class="fab fa-adversal mr-2"></i>Post an Ad</a>
            </li>
          {% if user.is_authenticated %}
          <div class="dropdown">
          <button type="button" class="btn btn-dark dropdown-toggle mt-1 mb-1" data-toggle="dropdown">
            <a class="lead">{{user.name}}</a>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
          <a class="lead dropdown-item" href="{% url 'displayprofile' %}"><small>Display Profile</small></small></a>    
          {% if  user.socialaccount_set.all.0.uid == None %}

           
            <a class="lead dropdown-item" href="{% url 'updateprofile' %}"><small>Update Profile</small></a>
            <a class="lead dropdown-item" href="{% url 'changepassword' %}"><small>Update Password</small></a>
            {% endif %}
            <a class="lead dropdown-item" href="{% url 'logout' %}"><small>Logout</small></a>
          </div>
        </div>
      
          {% else %}

          {% endif %}

        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    {% block messages %}
        <h2>{{ message }}</h2>
    {% endblock %}
  </div>

    {% block footscripts %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>