</html>
<!doctype html>
<html lang="en">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/bower_components/bootstrap-horizon/bootstrap-horizon.css">

<!-- Fontawesome -->
<script src="https://kit.fontawesome.com/aab5290cf7.js" crossorigin="anonymous"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<title>Festive Circle</title>
{% block scripts %}
{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}
</head>

<body>
  <!-- style="height: 100vh; background-image: linear-gradient(.25turn, #FBFCFC, 50%, #F2F4F4);" -->
  {% block main %}

  {% block top %}

  {% block nav %}

  <nav class="navbar navbar-expand-sm fixed-top" style="height: 50px; background:rgba(0,0,0,0.5);">
    <a class="navbar-brand" href="{% url 'festive-circle' %}">
      <img src="/media/icons/logo.png" class="img-fluid" style="width: auto; height: 40px;">
    </a>


    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown mr-4">
        <a class="btn btn-danger rounded-0" href="{% url 'add' %}">Post an Ad</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="" id="navbardrop" data-toggle="dropdown">
          <font size="2">Welcome {{user.name}}</font>
        </a>
        <div class="dropdown-menu">
          <a class="lead dropdown-item" href="{% url 'displayprofile' %}">
            <small>
              <font size="2">Display Profile</font>
            </small>
          </a>
          <a class="lead dropdown-item" href="{% url 'updateprofile' %}">
            <small>
              <font size="2">Update Profile</font>
            </small>
          </a>
          <a class="lead dropdown-item" href="{% url 'changepassword' %}">
            <small>
              <font size="2">Update Password</font>
            </small>
          </a>
          <div class="dropdown-divider"></div>
          <a class="lead dropdown-item" href="{% url 'logout' %}">
            <small>
              <font size="2">Logout</font>
            </small>
          </a>
        </div>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown mr-4">
          <a class="btn btn-danger rounded-0" href="{% url 'add' %}">Post an Ad</a>
      </li>
      <li class="nav-item active pt-1">
        <a class="nav-link bold text-white" href="{% url 'login' %}">
          <font size="2">Login</font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bold text-white" href="{% url 'register' %}">
          <font size="4">|</font>
        </a>
      </li>
      <li class="nav-item pt-1">
        <a class="nav-link bold text-white" href="{% url 'register' %}">
          <font size="2">Signup</font>
        </a>
      </li>
    </ul>
    {% endif %}
    <br>

  </nav>
  <br><br><br>
  {% endblock %}

  {% block alert %}

  {% if messages %}
  {% for message in messages %}
  {% if message.tags == 'password success' %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ message }}</strong>
  </div>
  {% endif %}
  {% if message.tags == 'message error' %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>{{ message }}</strong>
  </div>
  {% endif %}
  {% endfor %}
  {% else %}

  {% endif %}

  {% endblock %}

  {% endblock %}


  {% block mid %}

  {% endblock %}


  {% block end %}
  {% block footer %}
  <footer>
    <div class="container">

      <div class="row bg-dark justify-content-center pt-2">
        <div class="col-md-6 text-center">
          <h1 class="text-white p-2">
            Subscribe to our newsletter!
          </h1>
          <input type="email border" class="form-control" placeholder="example@mail.com">
          <h1 class="text-white p-2">
              Follow Us!
          </h1>
          <a class="text-white">
              <i class="fab fa-facebook p-1"></i>
              <i class="fab fa-twitter p-1"></i>
              <i class="fab fa-google p-1"></i>
              <i class="fab fa-youtube p-1"></i>
          </a>
          <h2 class="text-white p-2">
              <u>Download mobile apps!</u>
          </h2>
          <a class="text-white">
              <i class="fab fa-android p-1 fa-2x"></i>
              <i class="fab fa-apple p-1 fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>

  {% endblock %}

  {% endblock %}

  {% endblock %}

  {% block footscripts %}
  {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>