{% extends 'base.html' %}
{% block content %}
<div>
    <a href="{% url 'edit' details.id %}">edit</a>/ <a href="{% url 'delete' details.id %}">delete</a> 
</div>
    <form action="" method="get" enctype="multipart/form-data">
        
        <div>{{details.title}}</div>
        <div>{{details.loction_id}}</div>
        <div>{{details.phoneNo}}</div>
        <div>{{details.postDate}}</div>
        <div>{{details.description}}</div>

        {% for image in images %}
        <div>{{image.title}}</div>
        <div><img src="{{image.image.url}}" style="width:200px;height:200px;"/></div>
        {% endfor %}

        <div>{{venues.category}}</div>
        <div>{{venues.sitting_capacity}}</div>
        <div>{{venues.author}}</div>
        <div>{{venues.parking_capacity}}</div>
        {% if venues.air_conditioner %}
            <div>{{venues.air_conditioner}}</div>
        {% endif %}
        {% if venues.heater %}
         <div>{{venues.heater}}</div>
        {% endif %}
        {% if venues.dj_system %}
        <div>{{venues.dj_system}}</div>
        {% endif %}
        {% if venues.wifi %}
        <div>{{venues.wifi}}</div>
        {% endif %}
        
       {% if venues.bridal_room %}
       <div>{{venues.bridal_room}}</div>
       {% endif %}
        
        {% if venues.valet_parking %}
        <div>{{venues.valet_parking}}</div>
        {% endif %}
        
        {% if venues.decoration %}
        <div>{{venues.decoration}}</div>
        {% endif %}
        {% if venues.generator %}
        <div>{{venues.generator}}</div>
        {% endif %}

        {% if venues.outside_catering %}
        <div>{{venues.outside_catering}}</div>
        {% endif %}
        {% if venues.outside_dj %}
        <div>{{venues.outside_dj}}</div>
        {% endif %}
        {% if venues.outside_decoration %}
        <div>{{venues.outside_decoration}}</div>
        {% endif %}
        
        

        <div>{{venuePrices.per_guest}}</div>
        <div>{{venuePrices.air_conditioner}}</div>
        <div>{{venuePrices.heater}}</div>
        <div>{{venuePrices.dj_system}}</div>
        <div>{{venuePrices.decoration}}</div>

        <div>{{dishMenus.title}}</div>
        <div>{{dishMenus.description}}</div>
        <div>{{dishMenus.price}}</div>
    </form>

{% endblock %}