{% extends 'base.html' %}
{% block content %}


<div>
  <br>
  <div class="ml-3">
    <h2>Festive Circle</h2>
    <p class="lead"> Fill in the search form to find your desired venues and services.
    </p>
  </div>
  <form action="" method="post">
    {% csrf_token %}
  <select name="category" id="id_category" style="float:left;height:40px;width:200px">
    <option value="" disabled selected>Category</option>

    <option value="Banquet Hall">Banquet Hall</option>

    <option value="Marquee">Marquee</option>

    <option value="Hotel Hall">Hotel Hall</option>

    <option value="Farmhouse">Farmhouse</option>

    <option value="Lawn">Lawn</option>

  </select>
  <select name="city" id="id_city" style="float:left;height:40px;width:200px">

    <option value="" disabled selected>City</option>

    {% for loc in locations %}

    <option value="{{loc.city}}">{{loc.city}}</option>
    {% endfor %}


  </select>
  <select name="Area" id="id_area" style="float:left;height:40px;width:200px">
    <option value="" disabled selected>Area</option>
    {% for loc in location %}
    <option value="{{loc.area}}">{{loc.area}}</option>
    {% endfor %}

  </select>

  <button type="submit" class="btn btn-primary btn-me" style="float: left">Search</button>



</div>
</form>

<div class="container" style="margin: 10%">
  {% for det in details %}
  <div>

    <a href="{% url 'display' det.id %}"> {{det.title}} </a>
  </div>
  {% endfor %}
</div>








{% endblock %}