{% extends 'base.html' %}
{% block content %}


  <div >
    <br>
    <div class="ml-3">
      <h2>Festive Circle</h2>
      <p class="lead"> Fill in the search form to find your desired venues and services.
      </p>
    </div>
        <select name="category" id="id_category" style="float:left;height:40px;width:200px">
          <option value="">Category</option>

          <option value="1">Banquet Hall</option>

          <option value="2">Marquee</option>

          <option value="3">Hotel Hall</option>

          <option value="4">Farmhouse</option>

          <option value="5">Lawn</option>

        </select>
        <select name="city" id="id_city" style="float:left;height:40px;width:200px">
          <option value="">City</option>

          <option value="1">Lahore</option>

          <option value="2">Islambad</option>


        </select>
        <select name="Area" id="id_area" style="float:left;height:40px;width:200px">
          <option value="">Area</option>
          <option value="1">Banquet Hall</option>

          <option value="2">Marquee</option>

          <option value="3">Hotel Hall</option>

          <option value="4">Farmhouse</option>

          <option value="5">Lawn</option>

        </select>
        <button type="submit" class="btn btn-primary btn-me" style="float: left">Search</button>
      
   
  </div>
  <div class="container" style="margin: 10%">
  {% for det in details %}
  <div>
    <a href="{% url 'display' det.id %}"> {{det.title}} </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
