{% extends 'base.html' %}
{% block style %}

<style>
  .bgimg {
      background-image: url('/media/icons/hands_in_hands.jpg');
  }

  
  .scroll-container{
  width: 1200px;
  height: 500px;
  overflow-x: scroll;
  display:flex;
  align-items:center;
  overflow-x:scroll;
  flex: 1;
  }

  .separate-right {
  border-right: thin solid black;
  }
  .separate-left {
  border-left: thin solid black;
  }



</style>

{% endblock %}
{% block content %}


<!-- <div>
  <br>
  <div class="ml-3">
    <h2>Festive Circle</h2>
    <p class="lead"> Fill in the search form to find your desired venues and services.
    </p>
  </div> -->

  <div class="d-flex justify-content-center align-items-center bgimg" style="height: 100vh;" >
  <form class ="form-inline col-md-10 border-0" method="POST" style=" background: rgba(0, 0, 0, 0.2);">{% csrf_token %}
  <div class="p-3 w-100">
    
    <div class="form-group text-white">
          <div class="col-sm-offset-2">
              <h3 class="lead" ><font size="7">Search Bar</font></h3>
              <p class="control-label ml-1"><font size="4">Fill in the search form to find your desired venues and services.</font></p>
          </div>
    </div>
    <br>
    <select class="browser-default custom-select col-sm-10 ml-5 rounded-0 shadow" name="category" id="id_category"  style="width:250px;">
      <option selected disabled>Choose Category</option>

      <option value="Banquet Hall">Banquet Hall</option>

      <option value="Marquee">Marquee</option>
  
      <option value="Hotel Hall">Hotel Hall</option>
  
      <option value="Farmhouse">Farmhouse</option>
  
      <option value="Lawn">Lawn</option>
    </select>

    <select class="browser-default custom-select ml-3 rounded-0 shadow" name="city" id="id_city" style="width:250px;">
      <option selected disabled>Select Your City</option>

      <option value="Lahore">Lahore</option>
      <option value="Karachi">Karachi</option>
      <option value="Islamabad">Islamabad</option>
      <option value="Gujranwala">Gujranwala</option>

    </select>


    <select class="browser-default custom-select ml-3 rounded-0 shadow" name="Area" id="id_area" style="width:250px;">
      <option selected disabled>Select Your Area</option>
      
      {% for loc in locations %}
      <option value="{{loc.area}}">{{loc.area}}</option>
      {% endfor %}

    </select>

      <button type="submit" class="btn btn-danger float-right lead rounded-0 mr-2 shadow" style="padding: 7px 45px;"><font size="3" >Search</font></button>

  <!-- <button type="submit" class="btn btn-primary btn-me" style="float: left">Search</button> -->


</div>

</form>


</div>
<div class="d-flex justify-content-center align-items-center bg-light" >
   <div class="jumbotron bg-light">
      <div class="row">
        <div class="separate-right p-5">
          <label class="text-left pb-4">
            <font class="text-primary bold" size="5">Post your Ad on festive circle</font><br>
          </label><br>
          <label class="text-left">
              <font class="text-dark" size="3">
                <i class="fas fa-check-circle"></i>
                 Get your events booked fast</font><br>
          </label><br>
          <label class="text-left">
              <font class="text-dark" size="3"> 
                  <i class="fas fa-check-circle"></i>
                  Get genuine offers</font><br>
          </label><br>
          <label class="text-left">
              <font class="text-dark" size="3">
                <i class="fas fa-check-circle"></i>
                Get you events booked at good offers</font>
          </label><br><br><br>
          <button type="submit" class="btn btn-danger shadow float-right lead rounded-0 mb-1" 
          style="padding: 6px 40px;"><font size="3" >Post Ad</font></button>

        </div>
        <div class="separate-left p-5">
            <label class="text-left pb-4">
                <font class="text-primary bold" size="5">Try FestiveCircle for booking a venue</font><br>
              </label><br>
              <label class="text-left">
                  <font class="text-dark" size="3">
                    <i class="fas fa-check-circle"></i>
                     Get your events booked fast</font><br>
              </label><br>
              <label class="text-left">
                  <font class="text-dark" size="3"> 
                      <i class="fas fa-check-circle"></i>
                      Get genuine offers</font><br>
              </label><br>
              <label class="text-left">
                  <font class="text-dark" size="3">
                    <i class="fas fa-check-circle"></i>
                    Get you events booked at good offers</font>
              </label><br><br><br>
              <button type="submit" class="btn btn-warning shadow float-right lead rounded-0 mb-1" 
              style="padding: 6px 40px;"><font size="3" >Post Your Featured Ad</font></button>
        </div>
      </div>

        
   </div>
</div>

<div class="jumbotron bg-white">
    <div class="row justify-content-center">
        <div class="col-md-6">
                <label class="text-dark bold">
                        <font size="5"> Featured Ads</font>
                </label> 
        </div>
        <div class="col-md-3 ml-4 text-right">
                <a href="#" class="text-primary bold mt-4 ">
                        <font size="3"> View all featured ads >></font>
                </a> 
        </div>
    </div>
    <div class="row justify-content-center">
            {% for detail in featured_details %}       
            <div class="column p-1">
                <a href="{% url 'display' detail.id %}" class="text-dark">
                <div class="card bg-light border rounded-0" style="width: 16em;">
                    <div>
                        <label class="badge badge-danger rounded-0 shadow">
                            <font size="3" class="lead">Featured ad</font>
                        </label>
                    </div>
                  {% for key, value in featured_details_images.items %}
                    {% if detail.id == key %}
                    <div class="pl-3 pr-3">        
                      <img class="shadow border border-secondary" 
                      {% if value.image %} src="{{ value.image.url }}" {% else %} src="/media/images/no_pfp.png" {% endif %} class="card-img-top" 
                      style="width:100%;height:200px;"> 
                    </div>       
                    {% endif %}
                  {% endfor %}
                    
                    <div class="card-body text-center pb-0 pt-4">
                        <label >
                                <font class="text-dark bold" size="4">{{detail.title}}</font><br>
                                {% for key, value in featured_details_paarize.items %}
                                    {% if detail.id == key %}
                                    <font class="text-primary" size="4">
                                    Rs-/ {{value}} per head
                                     </font>
                                    {% endif %}
                                {% endfor %} 
                                <font size="4"class="text-uppercase bold">
                                        {{ detail.loction_id.city}}
                                  </font> 

                        </label>

                    </div>   
                  </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
              </div>
              <br>
              <div class="row  justify-content-center">
            {% endif %}
            {% endfor %}
            </div>
    </div>

    <div class="jumbotron bg-white">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <label class="text-dark bold">
                            <font size="6">Quick Search</font>
                    </label> 
            </div>
            <div class="col-md-3 ml-4 text-right">
                    <a href="#" class="text-primary bold mt-4 ">
                            <font size="4"> View all ads >></font>
                    </a> 
            </div>
        </div>
    
        <div class="row justify-content-center">
              
  
              <div class="list-group list-group-flush column p-2 mr-5" >
                  <div class="mb-1">
                      <i class="fas text-dark fa-hotel fa-2x"></i>
                      <p class="text-dark mt-1 bold"><font size="5">Search By Category</font></p>  
                  </div>
                  <a href="#" class="text-muted p-1 bg-white" style="background-color: #E0E0E0  ;">Search By Shadi Hall</a>
                  <a href="#" class="text-muted p-1 bg-white" style="background-color: #E0E0E0  ;">Search By Marquee</a>
                  <a href="#" class="text-muted p-1 bg-white" style="background-color: #E0E0E0  ;">Search By Banquet Hall</a>
                  <a href="#" class="text-muted p-1 bg-white" style="background-color: #E0E0E0  ;">Search By Hotel</a>
  
              </div>
  
              <div class="list-group list-group-flush column p-2 ml-5 mr-5" >
                  <div class="mb-1">
                      <i class="fas text-dark fa-map-marked fa-2x"></i>
                      <p class="text-dark mt-1 bold"><font size="5">Search By City</font></p>  
                  </div>  
                  <a href="#" class="text-muted p-1" >Search In Lahore</a>
                  <a href="#" class="text-muted p-1">Search In Islamabad</a>
                  <a href="#" class="text-muted p-1">Search In Karachi</a>
                  <a href="#" class="text-muted p-1">Search In Gujranwala</a>                
              </div>
  
              <div class="list-group list-group-flush column ml-5 p-2" >
                  <div class="mb-1">
                      <i class="fas text-dark fa-map-marked fa-2x"></i>
                      <p class="text-dark mt-1 bold"><font size="5">Search By Popular Area</font></p>  
                  </div>  
                  <a href="#" class="text-muted p-1">Search In Johar Town, Lahore</a>
                  <a href="#" class="text-muted p-1">Search In Bahria Town. Islamabad</a>
                  <a href="#" class="text-muted p-1">Search In K-Town, Karachi</a>
                  <a href="#" class="text-muted p-1">Search In Gujranwala</a>                
              </div>
              </div> 
            </div>
 <br>
 <div class="jumbotron bg-white">
    <div class="row justify-content-center">
        <div class="col-md-6">
                <label class="text-dark bold">
                        <font size="5">Popular Ads</font>
                </label> 
        </div>
        <div class="col-md-3 ml-4 text-right">
                <a href="#" class="text-primary bold mt-4 ">
                        <font size="3"> View all popular ads >></font>
                </a> 
        </div>
    </div>

    <div class="row justify-content-center">
            {% for detail in top_4_popular_details %}       
            <div class="column p-1">
                <a href="{% url 'display' detail.id %}" class="text-dark">
                <div class="card bg-light border rounded-0" style="width: 16em;">
                    <div class>
                        <label class="badge badge-warning rounded-0 shadow">
                            
                            <font size="3" class="lead">Popular ad</font>
                        </label>
                    </div>
                  {% for key, value in top_4_popular_details_images.items %}
                    {% if detail.id == key %}
                    <div class="pl-3 pr-3">        
                      <img class="shadow border border-secondary" 
                      {% if value.image %} src="{{ value.image.url }}" {% else %} src="/media/images/no_pfp.png" {% endif %} class="card-img-top" 
                      style="width:100%;height:200px;"> 
                    </div>       
                    {% endif %}
                  {% endfor %}
                    
                    <div class="card-body text-center pb-0 pt-4">
                        <label >
                                <font class="text-dark bold" size="4">{{detail.title}}</font><br>
                                {% for key, value in top_4_popular_details_paarize.items %}
                                    {% if detail.id == key %}
                                    <font class="text-primary" size="4">
                                    Rs-/ {{value}} per head
                                     </font>
                                    {% endif %}
                                {% endfor %} 
                                <font size="4"class="text-uppercase bold">
                                        {{ detail.loction_id.city}}
                                  </font> 

                        </label>

                    </div>   
                  </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
              </div>
              <br>
              <div class="row  justify-content-center">
            {% endif %}
            {% endfor %}
            </div>
    </div>


  <footer class="page-footer font-small mdb-color pt-4 " style="background-color:#EAECEE  ;">
    <div class="container text-center text-md-left mt-5">
      <div class="row text-center text-md-left mt-3 pb-3">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Festive Circle</h6>
          <p>Festive Circle allows users to find and book pre-qualified, trusted, and reviewed wedding vendors, get
            special prices, and find wedding inspirations to realize your dream wedding.</p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Categories</h6>
          <p>
            <a href="#!">Banquet Hall</a>
          </p>
          <p>
            <a href="#!">Marquee</a>
          </p>
          <p>
            <a href="#!">Hotel Hall</a>
          </p>
          <p>
            <a href="#!">Farmhouse</a>
          </p>
          <p>
            <a href="#!">Lawn</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a href="#!">Deals</a>
          </p>
          <p>
            <a href="#!">About Us</a>
          </p>
          <p>
            <a href="#!">Contact Us</a>
          </p>
          <p>
            <a href="#!">Help</a>
          </p>
        </div>
        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
      </div>
      <hr>
      <div class="row d-flex align-items-center">
        <div class="col-md-7 col-lg-8">
          <p class="text-center text-md-left">© 2019 Copyright:
            <strong> Festive Circle All rights reserved.</strong>
          </p>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}

{% block footscripts %}

<script>

</script>

{% endblock %}
