{% extends 'base.html' %}
{% load staticfiles %}
{% load socialaccount %}


{% block content %}
	

<form method = 'POST'> {% csrf_token %}
        Email:<br>
        <input type="text" name="email"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <label>
            <input type="checkbox" checked="checked" name="remember me">Remember me
          </label><br>       
        <button type="sumbit">Login</button>
    </form>
</form> 
<form action="{% provider_login_url 'google' %}" method='GET'>
  <button type="sumbit">Login with gmail</button>
</form>
<form action="" method='GET'>
  <button type="sumbit">Forgot Password</button>
</form>


{% endblock %}