{% extends 'base.html' %}
{% block content %}
<br><br>
{% if  user.socialaccount_set.all.0.uid == None %}
<div class="d-flex justify-content-center align-items-center" > 

<div class="card text-left mx-auto bg-light" style="width: 25rem;">
    <div class="mx-auto text-center mt-4">
        <img {% if user.pfp %} src="{{ user.pfp.url }}" {% else %} 
        src="/media/images/no_pfp.png" {% endif %} class="card-img-top " 
        style="width:330px;height:250px;">
    </div>
    <div class="card-body">
      <label class="card-title"><font size="4" class="lead">{{ user.name }}</font></label>
      <label class="card-title">Email: <font size="2" class="lead">{{ user.email }}</font></label>
      <label class="card-title">DOB: <font size="2" class="lead">{{ user.dob }}</font></label>
      <label class="card-title">Address: <font size="2" class="lead">{{ user.address }}</font></label>
      <label class="card-title">About Me: <font size="2" class="lead">{{ user.about_me }}</font></label>

    </div>
</div>
  
{% else %}
    <h1>Name: {{ user.socialaccount_set.all.0.extra_data.name }}</h1>
    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="width:200px;height:200px;"><br>
    <h5>Email: {{ user.email }} </h5>
    <h5>UID: {{ user.socialaccount_set.all.0.uid }} </h5>
{% endif %}
</div>
<br><br>
{% endblock %}