{% extends 'base.html' %}
{% block content %}
<br>
{% if  user.socialaccount_set.all.0.uid == None %}
<div class="d-flex justify-content-center align-items-center" > 

<div class="card text-center mx-auto bg-light" style="width: 25rem;">
    <div class="mx-auto text-center mt-4">
        <img {% if user.pfp %} src="{{ user.pfp.url }}" {% else %} src="/media/images/no_pfp.png" {% endif %} class="card-img-top " style="width:250px;height:300px;">
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ user.name }}</h4>
      <h5 class="card-title">Email: <a class="lead">{{ user.email }}</a></h5>
      <h5 class="card-title">DOB: <a class="lead">{{ user.dob }}</a></h5>
      <h5 class="card-title">Address: <a class="lead">{{ user.address }}</a></h5>
      <h5 class="card-title">About Me: <a class="lead">{{ user.about_me }}</a></h5>

    </div>
</div>
  
{% else %}
    <h1>Name: {{ user.socialaccount_set.all.0.extra_data.name }}</h1>
    <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="width:200px;height:200px;"><br>
    <h5>Email: {{ user.email }} </h5>
    <h5>UID: {{ user.socialaccount_set.all.0.uid }} </h5>
{% endif %}

{% endblock %}